api:
automation: !include automations.yaml
cloud: # Needed for Smart Things
counter:
dhcp:
diagnostics:
#energy:
ffmpeg:
history:
input_boolean:
input_button:
input_datetime:
input_number:
input_select:
input_text:
logbook:
#map:
#media_source:
mobile_app:
my:
network:
person:
scene:
#script:
ssdp:
sun:
stream:
system_health:
#tag:
timer:
usb:
wake_on_lan:
webhook:
zeroconf:
zone:

homeassistant:
  customize:
    climate.living_room:
      target_temp_step: 0.5
  auth_providers:
    - type: "trusted_networks"
      trusted_networks:
        - "192.168.0.0/24"
      trusted_users:
        192.168.0.10: !secret user_id_gillian
        192.168.0.11: !secret user_id_james
      allow_bypass_login: true
    - type: "homeassistant"

frontend:
  themes: !include_dir_merge_named themes
  javascript_version: latest

tts:
  - platform: "google_translate"

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - "192.168.0.7"
    - "::1"

#spotcast:
#  sp_dc: !secret spotcast_sp_dc
#  sp_key: !secret spotcast_sp_key
#  country: "GB"

# https://github.com/basnijholt/adaptive-lighting#readme
# https://basnijholt.github.io/adaptive-lighting/
adaptive_lighting:
  - name: "bathroom"
    brightness_mode: "linear"
    brightness_mode_time_light: "3600"
    brightness_mode_time_dark: "0"
    detect_non_ha_changes: true
    min_brightness: 5
    sunrise_time: "06:00:00"
    sunset_time: "20:00:00"
    lights:
      - "light.shellydimmer2_48551900b4e6"
  - name: "bedroom"
    brightness_mode: "linear"
    brightness_mode_time_light: "3600"
    brightness_mode_time_dark: "0"
    detect_non_ha_changes: true
    min_brightness: 5
    sunrise_time: "06:00:00"
    sunset_time: "20:00:00"
    lights:
      - "light.shellydimmer2_48551900c175"
  - name: "biglight"
    brightness_mode: "linear"
    brightness_mode_time_light: "3600"
    brightness_mode_time_dark: "0"
    detect_non_ha_changes: true
    min_brightness: 40
    sunrise_time: "06:00:00"
    sunset_time: "20:00:00"
    lights:
      - "light.shelly_duo"
  - name: "dining"
    brightness_mode: "linear"
    brightness_mode_time_light: "3600"
    brightness_mode_time_dark: "0"
    detect_non_ha_changes: true
    min_brightness: 10
    sunrise_time: "06:00:00"
    sunset_time: "20:00:00"
    lights:
      - "light.shelly_dining_room"
  - name: "kitchen"
    brightness_mode: "linear"
    brightness_mode_time_light: "3600"
    brightness_mode_time_dark: "0"
    detect_non_ha_changes: true
    min_brightness: 50
    sunrise_time: "06:00:00"
    sunset_time: "20:00:00"
    lights:
      - "light.shelly_kitchen"
  - name: "living"
    brightness_mode: "linear"
    brightness_mode_time_light: "3600"
    brightness_mode_time_dark: "0"
    detect_non_ha_changes: true
    min_brightness: 30
    sunrise_time: "06:00:00"
    sunset_time: "20:00:00"
    lights:
      - "light.shellydimmer2_c45bbe572627"
  - name: "office"
    brightness_mode: "linear"
    brightness_mode_time_light: "3600"
    brightness_mode_time_dark: "0"
    detect_non_ha_changes: true
    min_brightness: 20
    sunrise_time: "06:00:00"
    sunset_time: "20:00:00"
    lights:
      - "light.shellydimmer2_485519002b72"
  - name: "small"
    brightness_mode: "linear"
    brightness_mode_time_light: "3600"
    brightness_mode_time_dark: "0"
    detect_non_ha_changes: true
    min_brightness: 5
    sunrise_time: "06:00:00"
    sunset_time: "20:00:00"
    lights:
      - "light.shellydimmer2_4855190088ac"
  - name: "spare"
    brightness_mode: "linear"
    brightness_mode_time_light: "3600"
    brightness_mode_time_dark: "0"
    detect_non_ha_changes: true
    min_brightness: 20
    sunrise_time: "06:00:00"
    sunset_time: "20:00:00"
    lights:
      - "light.shellydimmer2_e89f6d8559a2"

google_assistant:
  project_id: !secret assistant_project_id
  service_account: !include google_assistant_key.json
  report_state: true
  expose_by_default: false
  entity_config:

    # Shelly
    light.shellydimmer2_48551900035d:
      name: "Hallway Downstairs"
    light.shellydimmer2_48551900caca:
      name: "Hallway Upstairs"
    light.shellydimmer2_485519002b72: # Office
      name: "Ceiling Light"
    light.shellydimmer2_4855190088ac: # Small Room
      name: "Ceiling Light"
    light.shellydimmer2_48551900b4e6: # Bathroom
      name: "Ceiling Light"
    switch.shelly_bathroom_fan_switch_0: # Bathroom Fan
      name: "Fan"
    light.shellydimmer2_48551900c175: # Bedroom
      name: "Ceiling Light"
    light.shelly_dining_room: # Dining Room
      name: "Ceiling Light"
    light.shellydimmer2_C45BBE572627: # Living Room
      name: "Ceiling Light"
    light.shellydimmer2_e89f6d8559a2: # Spare Room
      name: "Ceiling Light"
    light.shelly_kitchen: # Kitchen
      name: "Ceiling Light"
    light.shelly_duo: # Big Light
      name: "Big Light"

    # Groups
    light.upstairs_lights:
      name: "Upstairs"
    light.downstairs_lights:
      name: "Downstairs"
    light.hallway_lights:
      name: "Hallway Lights"

    # Switches
    switch.shelly_garden_switch_0:
      name: "Garden Light"
    switch.shelly_garden_switch_1:
      name: "Side Light"

    # Tuya
    light.floor_lights:
      name: "Floor Light"
    climate.air_condition_a010:
      name: "Air Conditioner"
      aliases:
        - "Air Con"

    # Switches
    switch.smart_socket_2_socket_1_2:
      name: "Christmas Tree"
    switch.teckin_plug_3:
      name: "Dresser"
      room: "Dining Room"
    switch.tapo_plug_1:
      name: "Electric Blanket Gillian"
      room: "Bedroom"
      aliases:
        - "Heated Blanket Gillian"
    switch.tapo_plug_2:
      name: "Electric Blanket James"
      room: "Bedroom"
      aliases:
        - "Heated Blanket James"
    switch.tapo_plug_3:
      name: "Small Light"
      room: "Living Room"
    switch.tapo_plug_4:
      name: "Salt Lamp"
      room: "Living Room"

    # Buttons
    input_button.pause_tv:
      name: "Pause TV"
    input_button.play_tv:
      name: "Play TV"

switch:
  - platform: "wake_on_lan"
    name: "PC"
    host: "192.168.0.8"
    mac: "B4:2E:99:F0:FB:4A"
  - platform: "wake_on_lan"
    name: "Spare TV"
    host: "192.168.0.16"
    mac: "E8:F2:E2:C1:A4:48"
  - platform: "wake_on_lan"
    name: "TV"
    host: "192.168.0.9"
    mac: "BC:7E:8B:AB:01:D2"

group:
  #  Can't group people in the UI
  people:
    name: "People"
    entities:
      - "person.james_eagle"
      - "person.gillian_mckinley"
